@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body, html {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

tm-login {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-self: center;
    min-width: 500px;
    justify-content: center;
}

tm-login .login-form {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: stretch;
}

tm-project-list {
    display: flex;
    flex: 1 0 auto;
}

aside.projects-aside {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-right: 20px;
    padding-right: 0;
    position: relative;
    max-height: 100%;
}

aside.projects-aside md-list {
    overflow-y: scroll;
    padding-right: 20px;
    max-height: 100%;
}

tm-project-list main {
    display: flex;
    flex: 1 0 auto;
}

tm-project-form {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.project-form {
    display: flex;
    flex-direction: column;
}

tm-task-list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.task-form {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}